In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
proteomics = pd.read_csv('../../data/ANM/ANMerge_Proteomics_under_90.csv')
img = pd.read_pickle("../../data/ANM/mri_meta_2D_3class.pkl")

In [3]:
proteomics

,Unnamed: 0,Visit,Month,Site,Diagnosis,Sex,Age,APOE,MMSE,P0C0L5,...,P23396,Q86VB7,Q12884,Q8IXJ6,Q13813,Q08945,P09493,P07478,P04818,P98066
0,DCR00001_1,1.0,0.0,DCR,AD,Female,80.0,E3E4,21.0,3716.1,...,842.5,2916.3,4790.8,1204.7,596.2,948.7,965.3,26393.3,714.4,1289.0
1,DCR00007_1,1.0,0.0,DCR,AD,Male,80.0,E3E4,24.0,5676.7,...,534.2,3156.5,5171.8,1796.0,555.5,908.1,933.6,45037.9,762.2,1370.5
2,DCR00023_1,1.0,0.0,DCR,AD,Female,88.0,E3E3,NaN,6935.7,...,530.4,2948.8,3801.5,1161.2,557.2,1070.1,984.7,38593.2,825.6,1328.2
3,DCR00024_1,1.0,0.0,DCR,AD,Female,80.0,E3E4,NaN,4940.4,...,652.7,2600.1,2882.3,1840.7,520.3,901.3,940.7,40413.4,6286.7,992.4
4,DCR00025_1,1.0,0.0,DCR,AD,Male,75.0,E4E4,NaN,9293.7,...,410.4,2045.8,3141.5,832.8,494.1,896.6,900.9,22241.0,729.2,997.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,THSMCI062_2,2.0,12.0,Thessaloniki,AD,Male,73.0,NaN,20.0,11673.0,...,1031.6,2380.4,2213.6,1397.2,457.3,920.7,982.7,17674.7,560.3,1137.6
894,THSMCI064_1,1.0,0.0,Thessaloniki,MCI,Male,80.0,E3E4,28.0,7606.8,...,1333.7,1659.9,2264.9,1283.5,483.9,1197.9,863.0,23074.0,561.0,1142.0
895,THSMCI064_2,2.0,12.0,Thessaloniki,AD,Male,80.0,E3E4,22.0,4941.0,...,1078.8,1832.6,2959.2,1597.6,541.8,1281.8,843.8,23816.7,565.0,1161.1
896,THSMCI065_1,1.0,0.0,Thessaloniki,MCI,Male,76.0,E3E3,29.0,13515.5,...,1816.2,2861.4,2809.6,1897.8,567.2,1013.0,943.1,37664.4,629.0,1209.7
897,THSMCI065_2,2.0,12.0,Thessaloniki,MCI,Male,77.0,E3E3,25.0,6244.5,...,2075.0,2900.0,3152.2,1504.6,503.6,1138.4,936.7,33408.0,654.1,1245.5

In [4]:
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# proteomics.iloc[:, 9:1025] = scaler.fit_transform(proteomics.iloc[:, 9:1025])

In [5]:
img

                                             img_array label       ID_Visit
0    [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     2  PRGADC018_m00
1    [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     1  TLSMCI612_m00
2    [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     2  PRGADC026_m00
3    [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     2  THSADC018_m00
4    [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     2  TLSADC502_m00
..                                                 ...   ...            ...
809  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     1  PRGMCI004_m00
810  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     2  LNDADC020_m03
811  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     2  KPOADC016_m12
812  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     1  KPOMCI018_m00
813  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     0  THSCTL023_m12

[814 rows x 3 columns]

In [6]:
proteomics['ID_Visit']=None

In [7]:
for i in range(len(proteomics)):
    if proteomics['Month'][i]==0.0:
        proteomics['ID_Visit'][i]=proteomics['Unnamed: 0'][i].split('_')[0]+'_m00'
    elif proteomics['Month'][i]==12.0:
        proteomics['ID_Visit'][i]=proteomics['Unnamed: 0'][i].split('_')[0]+'_m12'

In [8]:
proteomics

,Unnamed: 0,Visit,Month,Site,Diagnosis,Sex,Age,APOE,MMSE,P0C0L5,...,Q86VB7,Q12884,Q8IXJ6,Q13813,Q08945,P09493,P07478,P04818,P98066,ID_Visit
0,DCR00001_1,1.0,0.0,DCR,AD,Female,80.0,E3E4,21.0,3716.1,...,2916.3,4790.8,1204.7,596.2,948.7,965.3,26393.3,714.4,1289.0,DCR00001_m00
1,DCR00007_1,1.0,0.0,DCR,AD,Male,80.0,E3E4,24.0,5676.7,...,3156.5,5171.8,1796.0,555.5,908.1,933.6,45037.9,762.2,1370.5,DCR00007_m00
2,DCR00023_1,1.0,0.0,DCR,AD,Female,88.0,E3E3,NaN,6935.7,...,2948.8,3801.5,1161.2,557.2,1070.1,984.7,38593.2,825.6,1328.2,DCR00023_m00
3,DCR00024_1,1.0,0.0,DCR,AD,Female,80.0,E3E4,NaN,4940.4,...,2600.1,2882.3,1840.7,520.3,901.3,940.7,40413.4,6286.7,992.4,DCR00024_m00
4,DCR00025_1,1.0,0.0,DCR,AD,Male,75.0,E4E4,NaN,9293.7,...,2045.8,3141.5,832.8,494.1,896.6,900.9,22241.0,729.2,997.0,DCR00025_m00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,THSMCI062_2,2.0,12.0,Thessaloniki,AD,Male,73.0,NaN,20.0,11673.0,...,2380.4,2213.6,1397.2,457.3,920.7,982.7,17674.7,560.3,1137.6,THSMCI062_m12
894,THSMCI064_1,1.0,0.0,Thessaloniki,MCI,Male,80.0,E3E4,28.0,7606.8,...,1659.9,2264.9,1283.5,483.9,1197.9,863.0,23074.0,561.0,1142.0,THSMCI064_m00
895,THSMCI064_2,2.0,12.0,Thessaloniki,AD,Male,80.0,E3E4,22.0,4941.0,...,1832.6,2959.2,1597.6,541.8,1281.8,843.8,23816.7,565.0,1161.1,THSMCI064_m12
896,THSMCI065_1,1.0,0.0,Thessaloniki,MCI,Male,76.0,E3E3,29.0,13515.5,...,2861.4,2809.6,1897.8,567.2,1013.0,943.1,37664.4,629.0,1209.7,THSMCI065_m00
897,THSMCI065_2,2.0,12.0,Thessaloniki,MCI,Male,77.0,E3E3,25.0,6244.5,...,2900.0,3152.2,1504.6,503.6,1138.4,936.7,33408.0,654.1,1245.5,THSMCI065_m12

In [9]:
overlap=pd.merge(proteomics,img,on='ID_Visit',how='inner')

In [10]:
overlap

,Unnamed: 0,Visit,Month,Site,Diagnosis,Sex,Age,APOE,MMSE,P0C0L5,...,Q8IXJ6,Q13813,Q08945,P09493,P07478,P04818,P98066,ID_Visit,img_array,label
0,KPOADC001_1,1.0,0.0,Kuopio,AD,Female,86.0,E4E4,20.0,11436.6,...,1169.9,529.0,935.6,881.0,40050.5,575.4,1273.7,KPOADC001_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
1,KPOADC001_5,5.0,12.0,Kuopio,AD,Female,87.0,E4E4,21.0,10726.2,...,871.1,485.2,916.6,872.3,19353.2,542.5,1139.2,KPOADC001_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
2,KPOADC002_1,1.0,0.0,Kuopio,AD,Female,68.0,E4E4,26.0,4139.9,...,977.1,573.3,868.4,925.2,36823.4,536.1,1172.6,KPOADC002_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
3,KPOADC002_5,5.0,12.0,Kuopio,AD,Female,69.0,E4E4,25.0,7469.9,...,800.1,620.1,978.7,920.2,34859.9,542.6,1285.6,KPOADC002_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
4,KPOADC004_1,1.0,0.0,Kuopio,AD,Female,66.0,E3E4,26.0,7051.4,...,1812.9,519.5,953.3,844.1,26307.8,605.1,1177.4,KPOADC004_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,THSMCI062_1,1.0,0.0,Thessaloniki,MCI,Male,72.0,NaN,24.0,10184.5,...,1988.4,529.4,920.6,974.0,16546.3,567.2,1066.6,THSMCI062_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1
459,THSMCI062_2,2.0,12.0,Thessaloniki,AD,Male,73.0,NaN,20.0,11673.0,...,1397.2,457.3,920.7,982.7,17674.7,560.3,1137.6,THSMCI062_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
460,THSMCI064_1,1.0,0.0,Thessaloniki,MCI,Male,80.0,E3E4,28.0,7606.8,...,1283.5,483.9,1197.9,863.0,23074.0,561.0,1142.0,THSMCI064_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1
461,THSMCI065_1,1.0,0.0,Thessaloniki,MCI,Male,76.0,E3E3,29.0,13515.5,...,1897.8,567.2,1013.0,943.1,37664.4,629.0,1209.7,THSMCI065_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1
462,THSMCI065_2,2.0,12.0,Thessaloniki,MCI,Male,77.0,E3E3,25.0,6244.5,...,1504.6,503.6,1138.4,936.7,33408.0,654.1,1245.5,THSMCI065_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1

In [11]:
overlap = overlap.drop_duplicates(subset=['ID_Visit'],keep='first')

In [12]:
overlap = overlap.reset_index(drop=True)

In [13]:
overlap

,Unnamed: 0,Visit,Month,Site,Diagnosis,Sex,Age,APOE,MMSE,P0C0L5,...,Q8IXJ6,Q13813,Q08945,P09493,P07478,P04818,P98066,ID_Visit,img_array,label
0,KPOADC001_1,1.0,0.0,Kuopio,AD,Female,86.0,E4E4,20.0,11436.6,...,1169.9,529.0,935.6,881.0,40050.5,575.4,1273.7,KPOADC001_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
1,KPOADC001_5,5.0,12.0,Kuopio,AD,Female,87.0,E4E4,21.0,10726.2,...,871.1,485.2,916.6,872.3,19353.2,542.5,1139.2,KPOADC001_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
2,KPOADC002_1,1.0,0.0,Kuopio,AD,Female,68.0,E4E4,26.0,4139.9,...,977.1,573.3,868.4,925.2,36823.4,536.1,1172.6,KPOADC002_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
3,KPOADC002_5,5.0,12.0,Kuopio,AD,Female,69.0,E4E4,25.0,7469.9,...,800.1,620.1,978.7,920.2,34859.9,542.6,1285.6,KPOADC002_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
4,KPOADC004_1,1.0,0.0,Kuopio,AD,Female,66.0,E3E4,26.0,7051.4,...,1812.9,519.5,953.3,844.1,26307.8,605.1,1177.4,KPOADC004_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,THSMCI062_1,1.0,0.0,Thessaloniki,MCI,Male,72.0,NaN,24.0,10184.5,...,1988.4,529.4,920.6,974.0,16546.3,567.2,1066.6,THSMCI062_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1
420,THSMCI062_2,2.0,12.0,Thessaloniki,AD,Male,73.0,NaN,20.0,11673.0,...,1397.2,457.3,920.7,982.7,17674.7,560.3,1137.6,THSMCI062_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
421,THSMCI064_1,1.0,0.0,Thessaloniki,MCI,Male,80.0,E3E4,28.0,7606.8,...,1283.5,483.9,1197.9,863.0,23074.0,561.0,1142.0,THSMCI064_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1
422,THSMCI065_1,1.0,0.0,Thessaloniki,MCI,Male,76.0,E3E3,29.0,13515.5,...,1897.8,567.2,1013.0,943.1,37664.4,629.0,1209.7,THSMCI065_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1
423,THSMCI065_2,2.0,12.0,Thessaloniki,MCI,Male,77.0,E3E3,25.0,6244.5,...,1504.6,503.6,1138.4,936.7,33408.0,654.1,1245.5,THSMCI065_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1

In [14]:
overlap=overlap.drop(['Visit','Month','Site','Diagnosis','Sex','Age','APOE','MMSE'],axis=1)

In [15]:
overlap=overlap.drop(['Unnamed: 0'],axis=1)

In [16]:
overlap

,P0C0L5,P03951,Q9Y4X3,P39060,P01033,P00750,P58294,P39905,P16035,P48061,...,Q8IXJ6,Q13813,Q08945,P09493,P07478,P04818,P98066,ID_Visit,img_array,label
0,11436.6,2708.6,825.0,5576.4,4730.7,1260.4,483.7,1209.6,6616.8,2634.1,...,1169.9,529.0,935.6,881.0,40050.5,575.4,1273.7,KPOADC001_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
1,10726.2,2339.0,816.7,6048.5,5212.3,1198.8,480.1,1098.0,7059.3,2560.5,...,871.1,485.2,916.6,872.3,19353.2,542.5,1139.2,KPOADC001_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
2,4139.9,2348.3,918.4,5254.2,3895.9,942.2,503.9,1157.3,6640.2,3482.2,...,977.1,573.3,868.4,925.2,36823.4,536.1,1172.6,KPOADC002_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
3,7469.9,2800.1,883.8,6073.9,4044.7,894.6,503.7,1292.3,7001.0,3679.7,...,800.1,620.1,978.7,920.2,34859.9,542.6,1285.6,KPOADC002_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
4,7051.4,2050.5,864.8,5157.5,4774.1,1166.5,508.8,1208.4,5848.3,3438.3,...,1812.9,519.5,953.3,844.1,26307.8,605.1,1177.4,KPOADC004_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,10184.5,1996.0,869.3,4510.9,5501.0,1197.8,497.3,1229.8,4395.5,3975.5,...,1988.4,529.4,920.6,974.0,16546.3,567.2,1066.6,THSMCI062_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1
420,11673.0,2234.2,843.2,4923.5,5025.3,1101.1,490.8,1132.6,5187.2,3706.3,...,1397.2,457.3,920.7,982.7,17674.7,560.3,1137.6,THSMCI062_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
421,7606.8,2815.7,893.8,5035.3,5625.3,1216.0,485.9,1160.6,5246.9,3630.8,...,1283.5,483.9,1197.9,863.0,23074.0,561.0,1142.0,THSMCI064_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1
422,13515.5,2013.5,865.0,7424.7,6206.0,1482.8,539.3,1306.6,4602.7,4665.5,...,1897.8,567.2,1013.0,943.1,37664.4,629.0,1209.7,THSMCI065_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1
423,6244.5,1695.3,898.0,6436.7,5786.6,1002.2,512.2,1132.5,5254.6,3786.3,...,1504.6,503.6,1138.4,936.7,33408.0,654.1,1245.5,THSMCI065_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1

In [17]:
overlap.index=overlap['ID_Visit']

In [18]:
overlap

,P0C0L5,P03951,Q9Y4X3,P39060,P01033,P00750,P58294,P39905,P16035,P48061,...,Q8IXJ6,Q13813,Q08945,P09493,P07478,P04818,P98066,ID_Visit,img_array,label
ID_Visit,,,,,,,,,,,,,,,,,,,,,
KPOADC001_m00,11436.6,2708.6,825.0,5576.4,4730.7,1260.4,483.7,1209.6,6616.8,2634.1,...,1169.9,529.0,935.6,881.0,40050.5,575.4,1273.7,KPOADC001_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
KPOADC001_m12,10726.2,2339.0,816.7,6048.5,5212.3,1198.8,480.1,1098.0,7059.3,2560.5,...,871.1,485.2,916.6,872.3,19353.2,542.5,1139.2,KPOADC001_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
KPOADC002_m00,4139.9,2348.3,918.4,5254.2,3895.9,942.2,503.9,1157.3,6640.2,3482.2,...,977.1,573.3,868.4,925.2,36823.4,536.1,1172.6,KPOADC002_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
KPOADC002_m12,7469.9,2800.1,883.8,6073.9,4044.7,894.6,503.7,1292.3,7001.0,3679.7,...,800.1,620.1,978.7,920.2,34859.9,542.6,1285.6,KPOADC002_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
KPOADC004_m00,7051.4,2050.5,864.8,5157.5,4774.1,1166.5,508.8,1208.4,5848.3,3438.3,...,1812.9,519.5,953.3,844.1,26307.8,605.1,1177.4,KPOADC004_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
THSMCI062_m00,10184.5,1996.0,869.3,4510.9,5501.0,1197.8,497.3,1229.8,4395.5,3975.5,...,1988.4,529.4,920.6,974.0,16546.3,567.2,1066.6,THSMCI062_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1
THSMCI062_m12,11673.0,2234.2,843.2,4923.5,5025.3,1101.1,490.8,1132.6,5187.2,3706.3,...,1397.2,457.3,920.7,982.7,17674.7,560.3,1137.6,THSMCI062_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",2
THSMCI064_m00,7606.8,2815.7,893.8,5035.3,5625.3,1216.0,485.9,1160.6,5246.9,3630.8,...,1283.5,483.9,1197.9,863.0,23074.0,561.0,1142.0,THSMCI064_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1
THSMCI065_m00,13515.5,2013.5,865.0,7424.7,6206.0,1482.8,539.3,1306.6,4602.7,4665.5,...,1897.8,567.2,1013.0,943.1,37664.4,629.0,1209.7,THSMCI065_m00,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1
THSMCI065_m12,6244.5,1695.3,898.0,6436.7,5786.6,1002.2,512.2,1132.5,5254.6,3786.3,...,1504.6,503.6,1138.4,936.7,33408.0,654.1,1245.5,THSMCI065_m12,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...",1

In [19]:
X= overlap.drop(['ID_Visit','label'],axis=1)
y = overlap['label']

In [20]:
X

,P0C0L5,P03951,Q9Y4X3,P39060,P01033,P00750,P58294,P39905,P16035,P48061,...,Q86VB7,Q12884,Q8IXJ6,Q13813,Q08945,P09493,P07478,P04818,P98066,img_array
ID_Visit,,,,,,,,,,,,,,,,,,,,,
KPOADC001_m00,11436.6,2708.6,825.0,5576.4,4730.7,1260.4,483.7,1209.6,6616.8,2634.1,...,2264.3,3182.5,1169.9,529.0,935.6,881.0,40050.5,575.4,1273.7,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
KPOADC001_m12,10726.2,2339.0,816.7,6048.5,5212.3,1198.8,480.1,1098.0,7059.3,2560.5,...,2154.0,2843.4,871.1,485.2,916.6,872.3,19353.2,542.5,1139.2,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
KPOADC002_m00,4139.9,2348.3,918.4,5254.2,3895.9,942.2,503.9,1157.3,6640.2,3482.2,...,1892.3,3914.9,977.1,573.3,868.4,925.2,36823.4,536.1,1172.6,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
KPOADC002_m12,7469.9,2800.1,883.8,6073.9,4044.7,894.6,503.7,1292.3,7001.0,3679.7,...,2417.1,3950.2,800.1,620.1,978.7,920.2,34859.9,542.6,1285.6,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
KPOADC004_m00,7051.4,2050.5,864.8,5157.5,4774.1,1166.5,508.8,1208.4,5848.3,3438.3,...,4075.6,2972.5,1812.9,519.5,953.3,844.1,26307.8,605.1,1177.4,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
THSMCI062_m00,10184.5,1996.0,869.3,4510.9,5501.0,1197.8,497.3,1229.8,4395.5,3975.5,...,2553.2,2280.3,1988.4,529.4,920.6,974.0,16546.3,567.2,1066.6,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
THSMCI062_m12,11673.0,2234.2,843.2,4923.5,5025.3,1101.1,490.8,1132.6,5187.2,3706.3,...,2380.4,2213.6,1397.2,457.3,920.7,982.7,17674.7,560.3,1137.6,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
THSMCI064_m00,7606.8,2815.7,893.8,5035.3,5625.3,1216.0,485.9,1160.6,5246.9,3630.8,...,1659.9,2264.9,1283.5,483.9,1197.9,863.0,23074.0,561.0,1142.0,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
THSMCI065_m00,13515.5,2013.5,865.0,7424.7,6206.0,1482.8,539.3,1306.6,4602.7,4665.5,...,2861.4,2809.6,1897.8,567.2,1013.0,943.1,37664.4,629.0,1209.7,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
THSMCI065_m12,6244.5,1695.3,898.0,6436.7,5786.6,1002.2,512.2,1132.5,5254.6,3786.3,...,2900.0,3152.2,1504.6,503.6,1138.4,936.7,33408.0,654.1,1245.5,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, stratify=y)

In [22]:
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, stratify=y_temp)

In [23]:
X_train

,P0C0L5,P03951,Q9Y4X3,P39060,P01033,P00750,P58294,P39905,P16035,P48061,...,Q86VB7,Q12884,Q8IXJ6,Q13813,Q08945,P09493,P07478,P04818,P98066,img_array
ID_Visit,,,,,,,,,,,,,,,,,,,,,
THSADC059_m00,7008.3,2187.0,795.4,8413.0,7077.7,959.0,459.3,1245.6,7171.4,4208.4,...,2905.4,2571.3,1652.4,505.6,971.3,762.2,68347.6,502.4,1097.2,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
LDZCTL014_m00,9181.2,2330.6,805.3,5278.4,3929.6,1520.4,485.8,1450.3,7165.3,3660.0,...,3902.4,3396.7,1093.0,574.1,1211.8,1117.0,16154.1,639.4,1242.4,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
KPOMCI022_m12,15768.4,2040.9,906.2,4509.2,3985.9,1209.9,479.8,1157.6,5474.3,3301.6,...,2981.8,2581.1,859.5,535.7,872.2,839.7,21013.7,504.8,1361.3,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
PRGMCI038_m00,11635.1,1601.6,833.2,5949.8,6202.2,1350.9,483.2,1065.2,5296.9,3554.3,...,2642.8,2906.0,2878.0,444.8,912.6,1077.1,16483.7,609.2,916.9,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
KPOMCI043_m12,5584.6,1785.1,796.3,5043.1,3596.8,1037.5,460.9,1337.4,6538.9,3510.1,...,3307.9,3021.9,917.1,516.1,894.8,1013.5,14204.7,511.0,1504.6,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
THSADC040_m00,17949.6,2182.6,898.1,4927.5,4247.2,1201.4,518.3,1285.2,5779.4,4023.6,...,2212.6,2544.7,1222.7,519.0,1009.1,979.6,19463.7,1212.3,1283.3,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
KPOADC033_m12,16801.3,1761.0,755.3,8573.4,5556.5,1355.9,483.0,1107.9,6699.6,3660.9,...,2961.7,2712.7,738.5,472.8,895.0,1101.0,61589.0,614.3,1085.7,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
LNDCTL056_m00,14729.4,2176.0,778.0,7307.5,6252.8,1310.4,471.8,1432.3,6115.3,4360.9,...,3182.0,4058.8,792.7,1031.5,1402.9,846.8,35951.6,1592.7,1222.6,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
KPOADC016_m12,3369.7,2455.9,847.8,5257.2,4708.4,1069.9,512.8,1201.4,6599.8,3289.7,...,2366.1,3402.8,906.0,479.0,886.5,1186.1,25142.6,637.3,1332.7,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
KPOADC025_m00,10096.5,2048.5,858.7,3913.8,4064.7,1023.9,511.1,1160.8,6267.0,3458.2,...,3483.9,4540.5,775.4,525.9,951.0,859.3,8606.6,893.3,1078.7,"[[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."

In [24]:
X_train_plasma = X_train.drop(['img_array'],axis=1)
X_val_plasma = X_val.drop(['img_array'],axis=1)
X_test_plasma = X_test.drop(['img_array'],axis=1)

In [25]:
img.columns

Index(['img_array', 'label', 'ID_Visit'], dtype='object')

In [26]:
img_cols = list(set(img.columns) - set(["ID_Visit","label"]))
print(len(img.columns))
print(len(img_cols))
X_train_img = X_train[img_cols]
X_val_img = X_val[img_cols]
X_test_img = X_test[img_cols]

3
1

In [27]:
X_train_img.shape

(296, 1)

In [28]:
X_train_plasma.shape

(296, 1016)

In [29]:
X_train_plasma.to_csv("../../processed_data/ANM/overlap/X_train_plasma.csv")
X_val_plasma.to_csv("../../processed_data/ANM/overlap/X_val_plasma.csv")
X_test_plasma.to_csv("../../processed_data/ANM/overlap/X_test_plasma.csv")

y_train.to_csv("../../processed_data/ANM/overlap/y_train.csv")
y_val.to_csv("../../processed_data/ANM/overlap/y_val.csv")
y_test.to_csv("../../processed_data/ANM/overlap/y_test.csv")

In [30]:
pd.DataFrame(X_train_img).to_pickle("../../processed_data/ANM/overlap/X_train_img.pkl")
pd.DataFrame(X_val_img).to_pickle("../../processed_data/ANM/overlap/X_val_img.pkl")
pd.DataFrame(X_test_img).to_pickle("../../processed_data/ANM/overlap/X_test_img.pkl")

In [31]:
len(X_train_plasma)

296

In [32]:
len(X_val_plasma)

64

In [33]:
len(X_test_plasma)

64

In [34]:
X_train_list=X_train_plasma.index.values.tolist()
X_val_list=X_val_plasma.index.values.tolist()
X_test_list=X_test_plasma.index.values.tolist()

In [35]:
for i in X_val_list:
    if i in X_test_list:
        print(i)